header {
  height: 20%;
  background-color: grey;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-bottom: 50px;
}

h1 {
  margin-top: 25px;
  color: white;
}

.box {
  height: 150px;
  width: 125px;
  background-color: #267edd;
  margin: 10px;
}

#uv {
    width: 60px;
    height: 25px;
    background-color: rgb(172, 34, 34);
    margin-left: 5px;
}

#search-term {
    color: black;
    font-weight: bold;
}
.historyBtn {
    display: block;
}